{% extends "base.html" %}
{% block head %}
    <title>About</title>
{% endblock %}
{% block styleBlock %}
    <style>
        .heading {
            margin-left: 25%;
            font-size: 200%;
            background: #314569;
            width: 50%;
            text-align: center;
            color: white;
        }

        .details {
            width: 60%;
            border: 1px solid #ccc !important;
            margin-left: 20%;
            margin-bottom: 2%;
            border-radius: 4%;
        }

        p {
            font-family: "Times New Roman", Times, serif;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="">
        <div>
            <p class="heading">About</p>
        </div>
    </div>
    <div class="details">
        <h4 style="margin-left: 5%; color: red;">About</h4>
        <p style="margin-left: 5%; font-family:;">Live Cricket Score(LCS) is the world's leading cricket website and
            among the top single-sport websites in the world.

            Founded in 2019, LCScricinfo's content includes news, live ball-by-ball coverage of one-day international
            matches and features written by some of the world's best cricketers and cricket writers. The site also
            includes in-depth statistics on every one of the 3000 international and 50,000 first-class cricketers to
            have played the game.

            Now a wholly owned subsidiary of Lsc Inc., the world's leading multimedia sports entertainment company,
            LCScricinfo is available to cricket fans through the online media and on a host of mobile platforms and
            handheld devices.

            LCScricinfo has a thriving user community and reaches over 0 million users every month.


            In 2019 Cricinfo became a part of LCS | Press Release | Editor's Comment

        </p>
    </div>
{% endblock %}